@font-face {
  font-family: Hero;
  src: url(./fonts/Hero.otf);
}


/* this selector dictates the style of the whole page */
 * {
    margin: auto;
    font-family: Hero;
   

}

.flex-container {
  display: flex;
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  flex: 1;
}

.first {
  color: #F9FAF8;
  background: #1F2937;
  height: 450px;
}

h1 {
  font-size: 48px;
  color: #F9FAF8;
  margin-left: 25px;
  width: auto;
  margin-bottom: 10px;
}

.links {
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  margin-left: 25px;
  margin-right: 100px;
}

.head {
  margin-bottom: 90px;
  padding-top: 30px;
}

.text-main {
  font-size: 18px;
  color: #E5E7EB;
  margin-left: 25px;
  width: auto;
}

.button {
  background: #3882F6;
  color: white;
  width: 120px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 5px;
  
}

.placeholder {
  background: lightgray;
  text-align: center;
  height: 110px;
  padding-top: 105px;
  margin-right: 25px;
}

.second {
  height: 450px;
}


footer {
  background: #1F2937;
  font-size: 18px;
  color: #E5E7EB;
}

.second-text {
  align-self: center;
  padding-left: 38%;
  height: 50px;
  padding-top: 29px;
  font-size: 28px;
  font-style: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.square {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid;
  border-radius: 5px;
  border-color: #3882F6;
}

.square-text {
  text-align: center;
}

.third {
  height: 450px;
  background: #E5E7EB;
}

.quote {
  padding-top: 150px;
  color: #1F2937;
  width: 94%;
  font-style: italic;
  font-size: 36px;
}

.author {
  padding-left: 70%;
  font-style: bold;
  margin-top: 30px;
}

.fourth {
  height: 450px;
}

.flex-container-fourth {
  display: flex;
  margin-top: 200px;
  border: solid red 2px;
  background: #3882F6;
  margin-left: 20px;
  margin-right: 20px;
}

/* this selector selects all divs inside of .flex-container */
.flex-container-fourth div {
  flex: 1;
}

.fourth-text {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 80px;
}

